*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif;
    background-image: url(https://raw.githubusercontent.com/Krypter93/digitalclockweb/main/img/photo-1494481524892-b1bf38423fd1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
}

header h1{
    padding: 20px;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
}

.clock{
    display: flex;
    position: relative;
}

.clock div{
  margin: 5px;
}

.clock span{
    background-color: whitesmoke;
    opacity: 0.8;
    color: black;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 3px 3px 8px rgb(0, 0, 0, 0.3);
    border-radius: 2px;
}

.clock .text{
    height: 40px;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: grey;
    color: white;
    opacity: 0.9;
}

.clock #ampm{
    position: absolute;
    bottom: 5px;
    width: 80px;
    height: 40px;
    background: grey;
    color: white;
    font-size: 40px;
}
